body {
  background-color: #4fbace;
}

.App {
  padding-top: 30px;
  text-align: center;
}

.MuiButton-root {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  background-color: #07777b !important;
  font-family: 'Aleo', serif !important;
}

.video-iframe {
  margin-bottom: 20px;
}

.cta {
  margin-bottom: 40px;
}

.text {
  color: #fff;
  margin-bottom: 10px;
}

.text div {
  font-family: 'Aleo', peachy-keen-jf, sans-serif;
  color: #fff;
  font-size: 26px;
  margin-bottom: 10px;
}
